.about-container {
  padding: 0;
  background-color: #fff;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.about-banner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.banner-text {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: #fff;
}

.banner-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.about-intro {
  padding: 10px;
  line-height: 1.6;
  font-size: 1rem;
  color: #444;
}

.mission-vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
  background-color: #f9f9f9;
}

.mission, .vision {
  flex: 1 1 45%;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mission h2, .vision h2 {
  color: #004aad;
  margin-bottom: 15px;
}

.chancellor-section {
  display: flex;
  align-items: center;
  padding: 50px 40px;
  gap: 30px;
}

.chancellor-img {
  width: 280px;
  height: auto;
  border-radius: 12px;
}

.chancellor-text {
  flex: 1;
}

.chancellor-text h2 {
  color: #004aad;
  margin-bottom: 10px;
}

.chancellor-text p {
  line-height: 1.7;
}

.chancellor-name {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}
h3{
    color: #008e87;
    font-size: 36px;
}

/* Responsive */
@media (max-width: 768px) {
  .mission-vision {
    flex-direction: column;
  }

  .chancellor-section {
    flex-direction: column;
    text-align: center;
  }

  .banner-text h1 {
    font-size: 1.8rem;
  }
}


.recognition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.recognition-card {
  background-color: #f6f6f6;
  padding: 25px;
  border-radius: 4px;
  font-weight: 600;
  color: #444;
  text-align: center;
  font-size: 15px;
  border: 1px solid #eee;
  transition: all 0.3s ease;
}

.recognition-card:hover {
  background-color: #00796b;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .recognition-grid {
    grid-template-columns: 1fr;
  }
}




