.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
  background-color: #f0f0f0;
}

.content-area {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
  min-height: calc(100vh - 80px); /* assuming header height ~80px */
}

.heading {
  margin: 0 auto 10px;      /* center horizontally */
  color: #008e87;
  text-align: center;        /* center text */
  padding: 12px 20px;        /* spacing inside the box */
  border: 2px solid #008e87; /* border color */
  
  border-radius: 8px;        /* optional: rounded corners */
}

.subheading {
   background-color: red;     /* center horizontally */
  color: white;
  text-align: center;        /* center text */
  padding: 12px 20px;        /* spacing inside the box */
  /* border: 2px solid #008e87; /* border color */
  /* border-radius: 8px;  */ 
}